---
layout: default
---
<div class="container">
  <h1> Documentation </h1>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title"> {{ page.$title }} </h1>
        {{ content }}
      </div>
    </div>
    <div class="col-sm-3 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h3>Other resources</h3>
        <ol class="list-unstyled">
          <li>Library documentation on <br /><a href="http://hackage.haskell.org/package/H/">Hackage</a></li>
          <li>IFL 2014 paper: <br /><a href="https://ifl2014.github.io/submissions/ifl2014_submission_16.pdf">Project H: Programming R in Haskell</a></li>
        </ol>
      </div>
      <hr />
      <div class="sidebar-module">
        {% include nav_docs.html %}
      </div>
      <hr />
    </div>
  </div>
</div>
